@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
* {
    box-sizing: border-box;
}
body {
    font-family: 'Creepster', cursive;
    color: white;
    margin: 19px;
    background: linear-gradient(rgb(92, 226, 9), black);
}
.list__card {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 130px 130px;
    grid-template-rows: 150px 150px;
}
ul {
    padding-left: 2rem;
    padding-right: 2rem;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.image {
    width: 120px;
    border-radius: 20px;
}
h1 {
    text-align: center;
}
.wrapper__picachu {
}
@media (min-width: 600px) {
    .list__card {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 180px 180px 180px 180px;
        grid-template-rows: 200px 200px;
    }
    .wrapper__picachu {
        margin-left: 32px;
    }
}
